/* MAIN ICON */
#confluence-admin-notes {
    display: inline-block;
    background: transparent url('images/mainIcon.png') 0 0 no-repeat;
    vertical-align: top;
    margin-left: 10px;
    cursor: pointer;
}

#confluence-admin-notes .count {
    background: #fff933;
    margin: 9px 0 0 20px;
    padding: 0 5px;
    border-radius: 10px;
    border:1px solid #4184bb;
    color: #666;
    /* TODO: maybe remove .count or restyle */
    visibility: hidden;
}

#confluence-admin-notes .count.invisible {
    visibility: hidden;
}




/* DROP-DOWN LIST */
/* a checkbox to remember state */
#confluence-admin-notes-list-shown {
    display: none;
}

/* CSS2 selector supported by IE7+ */
#confluence-admin-notes-list-shown:checked + #confluence-admin-notes-list {
    display: block;
}

#confluence-admin-notes-list {
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 100;
}

#confluence-admin-notes-list .loading{
    display: none;
}

#confluence-admin-notes-list.ldng .loading{
    display: block;
    background-position: 5px 50%;
    padding-left: 25px;
    line-height: 30px;
    padding-right: 5px;
}

#confluence-admin-notes-list .list-item {
    border-bottom: 1px solid #ccc;
    padding: 2px 5px;
    cursor: pointer;
    text-align: left;
    line-height: 25px;
}

#confluence-admin-notes-list .list-item:hover {
    background-color: #f0f0f0;
}

/* Background-size is IE9+ */
#confluence-admin-notes-list .list-item:before {
    background: transparent url('images/notes.png') 0 0 no-repeat;
    background-size: 16px 16px;
    content: ' ';
    width: 16px;
    margin-right: 10px;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
}

#confluence-admin-notes-list .add {
    float: none;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
    background: rgb(245, 255, 235) url(images/addNotes.png) 5px 50% no-repeat;
    min-width: 210px;
}





/* ADMIN NOTES DIALOG */
#admin-notes-dialog TEXTAREA {
    height: 150px;
    width: 97%;
    margin: 0 1%;
    font-size: 1.1em;
}

#admin-notes-dialog .aui-dialog2-footer-hint {
    visibility: hidden;
}

#admin-notes-dialog .title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

/* Conflict indicator */
#admin-notes-dialog .conflict {
    border-radius: 5px;
    background-color: rgb(255, 229, 234);
    text-align: center;
    font-weight: bold;
    line-height: 1.5em;
    display: none;
}

#admin-notes-dialog .conflict TEXTAREA {
    opacity: 0.8;
}

#admin-notes-dialog.has-conflict .aui-dialog2-footer-hint {
    visibility: visible;
}

#admin-notes-dialog.has-conflict TEXTAREA {
    height: 65px;
}

#admin-notes-dialog.has-conflict .conflict {
    display: block;
}

/* Overwrite button */
#admin-notes-dialog #dialog-overwrite-button {
    display: none;
}

#admin-notes-dialog.has-conflict #dialog-overwrite-button {
    display: inline-block;
}

#admin-notes-dialog.has-conflict #dialog-submit-button {
    display:none;
}





/* MANAGE ADD-ONS ICON */
.admin-notes-action {
    margin: 0 10px;
    float: right;
}





/* ADMIN NOTES TOOLTIP */
#confluence-admin-notes-tooltip {
    position: absolute;
    display: none;
}

#confluence-admin-notes-tooltip .arrow-up {
    width: 0px;
    height: 0px;
    line-height: 0px;
    border: 10px dashed transparent;
    border-bottom-color: #999;
    margin: 0 20px 0 auto;
}

#confluence-admin-notes-tooltip .text {
    background-color: #999;
    min-width: 200px;
    color: #fff;
    border-radius: 5px;
    text-align: left;
    margin: 0;
    padding: 5px;
    font-size: 0.8em;
}
