#confluence-admin-notes {
    display: inline-block;
    background: transparent url('images/mainIcon.png') 0 0 no-repeat;
    vertical-align: top;
    margin-left: 10px;
    cursor: pointer;
}

#confluence-admin-notes .count {
    background: #fff933;
    margin: 9px 0 0 20px;
    padding: 0 5px;
    border-radius: 10px;
    border:1px solid #4184bb;
    color: #666;
}

#confluence-admin-notes .count.invisible {
    visibility: hidden;
}

#confluence-admin-notes-list-shown {
    display: none;
}

#confluence-admin-notes-list-shown:checked + #confluence-admin-notes-list {
    display: block;
}

#confluence-admin-notes-list {
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 100;
}

#confluence-admin-notes-list .loading{
    display: none;
}

#confluence-admin-notes-list.ldng .loading{
    display: block;
    background-position: 5px 50%;
    padding-left: 25px;
    line-height: 30px;
    padding-right: 5px;
}

#confluence-admin-notes-list .list-item {
    border-bottom: 1px solid #ccc;
    padding: 2px 5px;
    cursor: pointer;
    text-align: left;
    line-height: 25px;
}

#confluence-admin-notes-list .list-item:hover {
    background-color: #f0f0f0;
}

#confluence-admin-notes-list .list-item:before {
    background: transparent url('images/notes.png') 0 0 no-repeat;
    background-size: 16px 16px;
    content: ' ';
    width: 16px;
    margin-right: 10px;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
}

#confluence-admin-notes-list .add {
    float: none;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
    background: rgb(209, 255, 208) url(images/addNotes.png) 5px 50% no-repeat;
}

#admin-notes-dialog TEXTAREA {
    width: 100%;
    height: 100px;
}